<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::style},~{::body/content()})}">
<head>
    <title>カード検索</title>
    <style></style>

</head>
<body class="skin-blue layout-top-nav">
<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">検索条件</h3>
                </div>
                <form action="#" th:action="@{/card/search}">
                    <div class="box-body">
                        <div class="form-group col-lg-6">
                            <label>カード名</label>
                            <input type="text" class="form-control" name="name" th:value="${searchForm.name}" placeholder="例：クリボー">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>種別</label>
                            <select class="form-control" name="type">
                                <option th:value="null">選択してください</option>
                                <option th:each="item : ${searchForm.getTypeValueList()}"
                                        th:value="${item.value}" th:text="${item.key}" th:selected="${item.value == searchForm.type}"></option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>攻撃力</label>
                            <input type="number" class="form-control" th:value="${searchForm.atk}" name="atk" placeholder="例：3000">
                        </div>
                        <div class="form-group col-lg-4">
                            <label>守備力</label>
                            <input type="number" class="form-control" th:value="${searchForm.def}" name="def" placeholder="例：2800">
                        </div>
                        <div class="form-group col-lg-4">
                            <label>攻守合計</label>
                            <input type="number" class="form-control" th:value="${searchForm.sum}" name="sum"  placeholder="例：5500">
                        </div>
                    </div>
                    <div class="box-footer">
                        <a th:href="@{/}" class="btn btn-danger">TOPへ戻る</a>
                        <button type="submit" class="pull-right btn btn-primary">検索</button>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-lg-12" th:if="${searchForm.haveCardList()}">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">検索結果</h3>
                        </div>
                        <div class="box-body">
                            <div th:each="card : ${searchForm.cardList}">
                                <div th:class="'monster_box '+ ${searchForm.getClass(card.type)}">
                                    <p class="card_name" th:text="${card.name}" style="min-width: 100px;"></p>
                                    <p class="card_type" th:text="${searchForm.getCardTypeDetailName(card.type)}"/>
                                    <div th:if="${searchForm.getTypeString(card.type) == 'モンスター'}">
                                        <p class="atkdef" th:text="${'ATK/ ' + searchForm.getAtk(card.type,card.atk)}"/>
                                        <p id="cardDef" class="atkdef" th:text="${'DEF/ ' + searchForm.getDef(card.type,card.def)}"/>
                                    </div>
                                    <p id="cardDescription" th:text="${card.description}"/>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content container-fluid"></section>
    </div>
</div>
<script src="/js/datas/index.js" th:src="@{/js/datas/index.js}"/>
<script></script>
</body>

</html>